{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class ="container h-100">
        <div class="row h-100">
            <div class="my-auto p-5">
                <h1 class="display-4 logo-font text-black text-center">
                    Mineral waters and sport drinks!
                </h1>
                <p class="display-6 text-black test-center">
                    Home delivery available!
                </p>
                <div class="my-5">
                    <h4>
                        <a href="#" class="shop-now-button btn btn-lg rounded-0.5 text-uppercase py-3">Shop online</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}