html {
    height: 100%;
}

body {
    background: url('/media/sunset.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #520c00;
    
}
#front-text {
    background-color: rgba(60, 60, 60, 0.6);
    color: #fff;
    border-radius: 0.8px;
}
.card {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

#delivery-banner {
    background-color: rgba(205, 125, 125, 0.6);
    width: 40%;
    float:right;
}

/* -------------------- bootstrap toasts --- */

.message-container {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -------------------- from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ --- */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid blue;
    position: absolute;
    top: -10px;
    right: 40px;
}

/* -------------------- Convenienece classes, colors copied from Bootstrap --- */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}